<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Covid19 Mexico 2020</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <script src="https://d3js.org/d3.v5.min.js"></script>

 </head>

<body>


    
     <h1><a href="/">Covid!2</a></h1>
     <!--<script type = "text/javascript">
        //var db1 = window.openDatabase("Covid19Mexico", "1.0", "MyDB", 200000);
          // if(db1) {
           //console.log("database created / opened");
        //div.innerHTML = div.innerHTML + "<hr>database created / opened";
            //}
             
        </script>-->
        <div id="plot2"></div>
        <script src="./static/app.js"></script>

    
       

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!--<script src="{{ url_for('static', filename='js/app.js') }}"></script>-->
</body>

</html>
